.DS_STORE
scripts/flow/*/.flowconfig
*~
*.pyc
.grunt
_SpecRunner.html
__benchmarks__
remote-repo/
coverage/
.module-cache
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
*.swp
*.swo
fixtures/packaging/browserify/dev/node_modules/
fixtures/packaging/browserify/prod/node_modules/
fixtures/packaging/brunch/dev/node_modules/
fixtures/packaging/brunch/prod/node_modules/
fixtures/packaging/rjs/dev/node_modules/
fixtures/packaging/rjs/prod/node_modules/
fixtures/packaging/systemjs-builder/dev/node_modules/
fixtures/packaging/systemjs-builder/prod/node_modules/
fixtures/packaging/webpack-alias/dev/node_modules/
fixtures/packaging/webpack-alias/prod/node_modules/
fixtures/packaging/webpack/dev/node_modules/
fixtures/packaging/webpack/prod/node_modules/
packages/eslint-plugin-react-hooks/node_modules/
packages/jest-mock-scheduler/node_modules/
packages/jest-react/node_modules/
packages/react-art/node_modules/
packages/react-dom/node_modules/
packages/react-events/node_modules/
packages/react-native-renderer/node_modules/
packages/react-reconciler/node_modules/
packages/react-stream/node_modules/
packages/react/node_modules/
packages/scheduler/node_modules/